In [13]:
'''
123
456
789
'''

'\n123\n456\n789\n'

In [21]:
word = 'python'
word[-1]

'n'

In [24]:
word[0:2]

'py'

In [26]:
word[0:4:2]

'pt'

In [28]:
word[::-1]

'nohtyp'

In [30]:
'o' in word

True

In [44]:
a = ','
a.join('1234')
# 문자열 사이에 , 를 합쳐주는 역할

'1,2,3,4'

In [36]:
len('hello')

5

In [40]:
s = 'Python is Fun!'
s.count('n')

2

In [42]:
s.index('n')

5

In [48]:
word = input('문자를 입력하세요: ')
print(word[len(word)-1])

문자를 입력하세요: hello
o

In [53]:
s2 = 'one:two:three'
a = s2.split(':')

In [57]:
nlist = [1,2,3,4]

In [59]:
season = ['spring','summer','fall','winter']
season[1]

'summer'

In [61]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
a = [x for x in range(1,11)]

In [73]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [70]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [74]:
# del 키워드 사용해 리스트 삭제 (del a[x:y] 형태로 사용가능)
a[2] = 8
del a[0]

In [82]:
t = [1.2,2.3,3.4]
y = list(map(int,t))
y

[1, 2, 3]

In [83]:
y,m,d = map(int,input('날짜(연/월/일)입력 :').split('/'))
print('입력한 날짜의 10년 후는 {}년 {}월 {}일'.format(y+10,m,d))

날짜(연/월/일)입력 :1/2/3
입력한 날짜의 10년 후는 11년 2월 3일

In [92]:
eng = int(input('영어 점수 입력: '))
math = int(input('수학 점수 입력: '))

if eng+math>110:
    if eng<40:
        print('불합격: 영어 점수 부족')
    elif math<40:
        print('불합격: 수학 점수 부족')
    else:
        print('합격')
else:
    print('불합격: 총합점수 부족')

영어 점수 입력: 20
수학 점수 입력: 30
불합격: 총합점수 부족

In [98]:
n1, n2, n3 = map(int,input('세 개의 수를 입력하시오: ').split())
n_max = 0
if n1<n2:
    n_max=n2
else:
    n_max=n1
    
if n_max<n3:
    n_max=n3
    
print('가장 큰 수는 {}입니다.'.format(n_max))

세 개의 수를 입력하시오: 1 3 2
가장 큰 수는 3입니다.

In [105]:
number = 1
while number <= 5 :
    print(number,end = ' ')
    number += 1

1 2 3 4 5

In [110]:
n = 1
num = 0
while n<=10:
    num += n
    n += 1
print(num)

55

In [112]:
n = 1
num = 1
while n<=10:
    num *= n
    n += 1
print(num)

3628800

In [116]:
for x in 'hello'*100:
    print(x,end = '')

hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello

In [119]:
for x in range(10):
    print(x,'hello')

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello