In [9]:
balance = 0

def deposit(amount):
    global balance
    balance += amount
    return balance

def withdraw(amount):
    global balance
    balance -= amount
    return balance

print(deposit(10000000))
print(withdraw(1000))
print(balance)

10000000
9999000
9999000

In [10]:
list_ex = [1,2,3]

In [12]:
print(type(list_ex))

<class 'list'>

In [15]:
list_ex = list('hello')
list_ex

['h', 'e', 'l', 'l', 'o']

In [48]:
class dog:
    name = 'MongJa'
    def __init__(self, name = 'None', age = 0):
        print('호출되었다 init')
        self.name = name
        self.age = age
        
    def bark(self):
        return 'wal wal'

In [36]:
dog1 = dog()

In [37]:
print(type(dog1))

<class '__main__.dog'>

In [40]:
dog1.bark()

'wal wal'

In [43]:
dog1.name

'MongJa'

In [45]:
dog2 = dog()

In [47]:
dog2.name

'MongJa'

In [51]:
a  = dog('김성진',5)
print(a.name,a.age)

호출되었다 init
김성진 5

In [71]:
class Person:
    def __init__(self,name='None',age = 0,height = 0,weight=0):
        self.__name = name
        self.age = age
        self.height = height
        self.weight = weight
        return
    def inc_age(self):
        self.age += 1
        print(self.age)
        return
    def change_height(self,height):
        self.height = height
        print(self.height)
        return
    def change_weight(self,weight):
        self.weight = weight
        print(self.weight)
        return
    def print_inf(self):
        print('이름:{} 나이:{} 키:{} 몸무게:{}'.format(self.__name,self.age,self.height,self.weight))
        return
    
hong = Person('홍길동',12,150,44)
bye = Person('이병화', 26, 173, 60)

In [81]:
hong.print_inf()
bye.print_inf()

hong.inc_age()
hong.print_inf()

이름:홍길동 나이:21 키:150 몸무게:44
이름:이병화 나이:26 키:173 몸무게:60
22
이름:홍길동 나이:22 키:150 몸무게:44