In [2]:
def add(*nums):
    print(nums)

In [3]:
add(1,2,3,4,56,7)

(1, 2, 3, 4, 56, 7)

In [35]:
def vector_sum(v, *vs):
    # list deepcopy 주의 !
    v1 = v[:]
    for i in vs:
        for j in range(len(i)):
            v1[j] += i[j]
    return v1

실습4

In [36]:
v1=[0, 1]
v2=[0.5, 0.5]
v3=[1, 0]
v4=[6, 4]
v5=[3.14, 2.72]

m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)

print(m1,m2,m3)

[1.5, 1.5] [7.5, 5.5] [4.140000000000001, 2.72]

In [4]:
def merge_list(lis1=[0],lis2=[0]):
    return sorted(lis1+lis2)

실습5

In [5]:
l = [3, 5, 9, 1, 2]
ml1 = merge_list(l,[2,1])
ml2 = merge_list([6,9,4])
ml3 = merge_list()
print(ml1) # [1, 1, 2, 2, 3, 5, 9]
print(ml2) # [0, 4, 6, 9]
print(ml3) # [0, 0]

[1, 1, 2, 2, 3, 5, 9]
[0, 4, 6, 9]
[0, 0]

In [6]:
whos

Variable     Type        Data/Info
----------------------------------
l            list        n=5
merge_list   function    <function merge_list at 0x7f7420325dc0>
ml1          list        n=7
ml2          list        n=4
ml3          list        n=2

In [16]:
def fun(x):
    x.append(10)
    x = list([4,5,6])
    return x

In [18]:
Ls = [1,2,3]
print(fun(Ls))
print(Ls)

[4, 5, 6]
[1, 2, 3, 10]

In [3]:
import arth

In [4]:
arth.add(1,2)

3

In [9]:
import random as r

In [10]:
r.choice([1,2,3,4,5,6])

1

In [49]:
r.randrange(1,11)

6

In [34]:
r.randint(1,10)

8

실습 6

In [58]:
num = set()
while len(num)<6:
    num.add(r.randint(1,45))
print(num)

{3, 38, 40, 9, 16, 22}

In [87]:
lis = [x for x in range(1,46)]
num = r.sample(lis,6)
num.sort()
print(*num)

3 21 25 28 43 45

실습 7

In [89]:
def get_min_max(l):
    minl = min(l)
    maxl = max(l)
    l.remove(minl)
    l.remove(maxl)
    return minl, maxl
    
l = [3,5,9,1,2]

min_val, max_val = get_min_max(l)

print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

실습8

In [101]:
def comb_dict(d1, d2):
    d3 = {}
    
    for i in d1:
        if i in d3:
            d3[i] += d1[i]
        else:
            d3[i] = d1[i]
    for i in d2:
        if i in d3:
            d3[i] += d2[i]
        else:
            d3[i] = d2[i]
    return d3

d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 3, 'b': 3, 'd': 7, 'e': 9, 'c': 4}

실습9

In [103]:
def diff(*num):
    return max(num)-min(num)

    
print(diff(1,2,3,4,5))
print(diff(-100, 200))
diff(1) # 오류발생!

4
300

0